{% extends "site_base.html" %}
{% block nav_login %}class="active"{% endblock%}
    {% block content %}

    <div class="span12">
        <div class="page-header">
          <h3>Hello!<small>  Here you can login</small></h3><hr class="hr2">
        </div>
    </div>

    <form action="." method="POST">
    	{% csrf_token %}
	    {{ form.as_table }}
	    <input type="submit" value="Log In">
	</form>

	<div><a href="{% url 'password_reset' %}">Forgot password? </a></div>

    {% endblock content %}