{% extends "site_base.html" %}

    	{% block content %}

<div class="span12">
    <div class="box">
    	<div class="caption globe-bg">
			<p>Oliver Pineda is an instructor, dancer, performer and choreographer recognized by latin dancers from all over the world, also featuring in TV shows, such as: “So you think you can dance” and “Dancing with the stars” in Australia.
			Oliver is also proud to be the creator of his own brand of Salsa called ‘Aussie Style Salsa’ spreading this style to dancers all over the world and getting to be today worldwide recognized. He is one of the most highly appreciated and admired dancers and salsa instructors at an international level, for his own unique style and for his strong technique. Also, Oliver Pineda was the first Male Aussie Dancer who appeared on the cover of the magazine “The only Australian Lifestyle Magazine about the Latino World” in 2004 & 2008 editions.
			In 2006 he was awarded with the title of “Best Male Instructor” in Los Angeles during the biggest Salsa Congres in the world.
			</p>
		</div>
	</div>
</div>
    	{% endblock content %}
