{% extends "base.html" %}

{% block html_head %}
	<link rel="icon" href="/static/img/favicon.ico" />

    {% block headtitle %}<title>{% block head_title %}{% endblock %}</title>{% endblock %}

    <link href="/static/css/style.css?v=3" rel="stylesheet" media="screen">
    <script src="/static/js/core.js"></script>
    {% block head %}{% endblock head %}
{% endblock html_head %}


{% block html_body %}
	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}
    {% block content %}
    {% endblock content %}
{% endblock html_body %}
