{% extends "site_base.html" %}
    {% block content %}
     
    <form enctype="multipart/form-data" action="." method="POST">

    
    	{% csrf_token %}
	   <!--  {{ form.as_ul }} -->
	   	<div class="form-block", align="left">

        <label>Title:</label>
		<input type="text" id="title" name="title" align="right" action="." width="180" value={{song.title}}>
		<br/>
		<label>Artist:</label>
		<input type="text" id="artist" name="artist" value={{song.artist}}>
		<br/>
            <select name="genre" id="genre">
                <option value="" >Please select genre</option>
                <option value="salsa" <% if (genre == "salsa") {print("selected")}%>>salsa</option>
                <option value="bachata" <% if (genre == "bachata") {print("selected")}%>>bachata</option>
                <option value="kizomba" <% if (genre == "kizomba") {print("selected")}%>>kizomba</option>
            </select>
		<br/>
		<label>Song:</label>
		<input type="file" id="music_file" name="music_file" value={{song.music_file}}>
		<br/>
		<label>BPM:</label>
		<input type="text" id="bpm" name="bpm" value={{song.bpm}}>
		<br/>
		<label>Price:</label>
		<input type="text" id="price" name="price" value={{id_price}}>

		</div>

	    <input type="submit" value="Submit">

	</form>
    {% endblock content %}