<html>
<head>
<title>Song List</title>
<link rel="stylesheet" href="/static/css/styles.css" />




<script> 

USER_ID={{ request.user.id  }}


</script>

    
</head>

<body>
<div >
<script type="text/template" id="tpl-new">
    <button class = "new">New Song</button>
</script>
</div> 



<div id="header"><span class="title">Song List</span></div>

<div id="sidebar"></div>

<div id="content"></div>

<!-- Templates -->

<script type="text/template" id="tpl-song-list-item">
<a href= '#<%= id %>'> <%= artist %> <%= title %></a>


</script>

<script src="/static/js/sm2/soundmanager2.js"></script>

</script>

<script type="text/template" id="tpl-song-details">
<h3>Song details</h3>
    <p> Title: <%= title %> </p>    
    <p> Artist: <%= artist %> </p>  
    <p> Genre: <%= genre %> </p>
    <p> BPM: <%= bpm %> </p>
    <p> Status: <%= status %> </p>
    <p> Price: <%= price %> </p> 
    <button class = "edit">Edit Song</button>
    <button class = "store">Buy Song</button>
    <button class = "play">Play Song</button>

</script>


<script type="text/template" id="tpl-store">
<h3>Song details</h3>
    <p> Title: <%= title %> </p>    
    <p> Artist: <%= artist %> </p>  
    <p> Genre: <%= genre %> </p>
    <p> BPM: <%= bpm %> </p>
    <p> Status: <%= status %> </p>
    <p> Price: <%= price %> </p> 
    <button class = "edit">Edit Song</button>
    <button class = "store">Buy Song</button>
    <button class = "play">Play Song</button>

</script>

<script type="text/template" id="tpl-song-edit">
    <div class="form">
        
    

        <input type="hidden" id="songId" name="id" disabled />
        <label>Title:</label>
        <input type="text" id="title" name="title" value="<%= title%>">
        <label>Artist:</label>
        <input type="text" id="artist" name="artist" value="<%= artist%>">
        <label>Genre:</label>
        <select name="genre" id="genre">
            <option value="" >Please select genre</option>
            <option value="salsa" <% if (genre == "salsa") {print("selected")}%>>salsa</option>
            <option value="bachata" <% if (genre == "bachata") {print("selected")}%>>bachata</option>
            <option value="kizomba" <% if (genre == "kizomba") {print("selected")}%>>kizomba</option>
        </select>
        <label>BPM:</label>
        <input type="text" id="bpm" name="bpm" value="<%= bpm %>" >
        <label>Price:</label>
        <input type="text" id="price" name="price" value="<%= price%>">
        <button class="save">Save</button>
        <button class="delete">Delete</button>
    </div>
</script>

<!-- JavaScript -->
<script src="/static/js/lib/jquery-2.0.0.js"></script>
<script src="/static/js/lib/underscore.js"></script>
<script src="/static/js/lib/backbone.js"></script>
<script src="/static/js/lib/app.js"></script>


</body>
</html>