{% extends "site_base.html" %}
{% block head %}

    <script> 
        USER_ID={{ request.user.id  }}
    </script>

    <script src="/static/js/sm2/soundmanager2.js"></script>
    <script>
        soundManager.setup({
          url: '/static/swf/',
          // optional: use 100% HTML5 mode where available
          //preferFlash: false,
          ontimeout: function() {
            // Hrmm, SM2 could not start. Missing SWF? Flash blocked? Show an error, etc.?
          }

        });
    </script>

{% endblock head %}

{% block nav_songs %}class="active"{% endblock%}

{% block content %}
<!-- Templates -->



    <script type="text/template" id="tpl-new">
            <a class="btn btn-success new"><i class="icon-white icon-upload"></i> New</a>
    </script>



    <script type="text/template" id="tpl-song-list-item">
        <div class="span4">
            
            <a class="btn btn-primary store"><i class="icon-white icon-shopping-cart"> </i> Buy</a> 
            <a class="btn btn-success play"><i class="icon-white icon-play"></i> Play</a>
            <a class="btn btn-success pause"><i class="icon-white icon-pause"></i> Pause</a>
            <button class="bachata"><i class="icon icon-arrow-right"></i> bachata</a>

        </div><!-- span4 --> 

        <div class="span8">
            <div class="box">
                <div class="thumbnail-header color3">
                    <small><i class="icon-white icon-music"></i> Music<span class="float-right"></span></small>
                </div><!-- end thumbnail-header --> 
                <div class="caption music-bg">
                    <h4><%= title%></h4>
                    <hr class="hr2">
                    <dl class="dl">
                        <p> Artist: <%= artist %> </p>  
                        <p> Genre: <%= genre %> </p>
                        <p> BPM: <%= bpm %> </p>
                        <p> Status: <%= status %> </p>
                        <p> Price &#36: <%= price %> </p> 
                       
                    </dl>         
                </div> 
            </div><!-- end box --> 
        </div><!-- span8 --> 

    </script>

    <script type="text/template" id="tpl-song-details">
        <h3>Song details</h3>
        <p> Title: <%= title %> </p>    
        <p> Artist: <%= artist %> </p>  
        <p> Genre: <%= genre %> </p>
        <p> BPM: <%= bpm %> </p>
        <p> Status: <%= status %> </p>
        <p> Price: <%= price %> </p> 
        <button class = "edit">Edit Song</button>
        <button class = "store">Buy Song</button>
        <button class = "play">Play Song</button>
        <button class = "pause">Pause Song</button>

    </script>


    <script type="text/template" id="tpl-store">
        <h3>Song details</h3>
        <p> Title: <%= title %> </p>    
        <p> Artist: <%= artist %> </p>  
        <p> Genre: <%= genre %> </p>
        <p> BPM: <%= bpm %> </p>
        <p> Status: <%= status %> </p>
        <p> Price: <%= price %> </p> 
        <button class = "edit">Edit Song</button>
        <button class = "store">Buy Song</button>
        <button class = "play">Play Song</button>
        <button class = "pause">Pause Song</button>
    </script>

    <script type="text/template" id="tpl-song-edit">
        <div class="form">
            
        

            <input type="hidden" id="songId" name="id" disabled />
            <label>Title:</label>
            <input type="text" id="title" name="title" value="<%= title%>">
            <label>Artist:</label>
            <input type="text" id="artist" name="artist" value="<%= artist%>">
            <label>Genre:</label>
            <select name="genre" id="genre">
                <option value="" >Please select genre</option>
                <option value="salsa" <% if (genre == "salsa") {print("selected")}%>>salsa</option>
                <option value="bachata" <% if (genre == "bachata") {print("selected")}%>>bachata</option>
                <option value="kizomba" <% if (genre == "kizomba") {print("selected")}%>>kizomba</option>
            </select>
            <label>BPM:</label>
            <input type="text" id="bpm" name="bpm" value="<%= bpm %>" >
            <label>Price:</label>
            <input type="text" id="price" name="price" value="<%= price%>">
            <button class="save">Save</button>
        </div>
    </script>


 

    <div class="span12">
        <div class="page-header">
          <h3>Music<small> Our singles</small></h3><hr class="hr2">
        </div>
    </div>


<div id="header"></div>
<div id="content"></div>



<script src="/static/js/lib/underscore.js"></script>
<script src="/static/js/lib/backbone.js"></script>
<script src="/static/js/lib/app.js"></script>

{% endblock content %}