{% extends "site_base.html" %}

{% block nav_songs %}class="active"{% endblock%}

{% block head %}
<!--
<script>
USER_ID={{ request.user.id }}

</script>
-->
    <script src="/static/js/sm2/soundmanager2.js"></script>
    <script>
        soundManager.setup({
          url: '/static/swf/',
          // optional: use 100% HTML5 mode where available
          //preferFlash: false,
          ontimeout: function() {
            // Hrmm, SM2 could not start. Missing SWF? Flash blocked? Show an error, etc.?
          }

        });
    </script>


<script src="/static/js/lib/underscore.js"></script>
<script src="/static/js/lib/backbone.js"></script>
<script src="/static/js/lib/app.js"></script>
<script src="/static/js/songs/models.js"></script>
<script src="/static/js/songs/collections.js"></script>
<script src="/static/js/songs/views.js"></script>
<script src="/static/js/songs/router.js"></script>
{% endblock head %}


{% block content %}

 <script type="text/template" id="tpl-song-list">
        <div class="span12">
            

            <p> Artist: <%= artist %> </p>
            <p> Genre: <%= genre %> </p>
            <p> BPM: <%= bpm %> </p>
            <p> Status: <%= status %> </p>
            <p> Price &#36: <%= price %> </p>
           
       
        </div>


    </script>


<div id="content"></div>



{% endblock content %}

