{% extends "site_base.html" %}
    {% block content %}
    <form action="." method="POST">
 		{% csrf_token %}
	    <!-- {{ form.as_ul }} -->

	    <div class="form-block", align="left">

        <label>Title:</label>
		<input type="text" id="title" name="title" align="right" action="." width="180" value={{song.title}}>
		<br/>
		<label>Artist:</label>
		<input type="text" id="artist" name="artist" value={{song.artist}}>
		<br/>
 		<label>Genre:</label>
		<select name ="category" class="input">
			<option value={{song.GENRES}}> {{song.genre}}</option>
		</select>

		<input type="text" id="genre" name="genre" value={{song.genre}}>
		
		<br/>
		

		<label>BPM:</label>
		<input type="text" id="bpm" name="bpm" value={{song.bpm}}>

		<br/>
		<label>Status:</label>
		<input type="text" id="status" name="status" value={{song.status}}>
		<br/>
		<label>Price:</label>
		<input type="text" id="price" name="price" value={{song.price}}>

		</div>

	    <input type="submit" value="Submit">
	</form>
    {% endblock content %}


