{% extends "site_base.html" %}

{% block nav_songs %}class="active"{% endblock%}

{% block content %}

    <script type="text/template" id="tpl-song-list">
        
        <p>Artist: <%= artist %> </p>
        

    </script>


<script src="/static/js/lib/underscore.js"></script>
<script src="/static/js/lib/backbone.js"></script>
<script src="/static/js/lib/app.js"></script>
<script src="/static/js/songs/models.js"></script>
<script src="/static/js/songs/collections.js"></script>
<script src="/static/js/songs/views.js"></script>
<script src="/static/js/songs/router.js"></script>


{% endblock content %}

