{% extends "site_base.html" %}

{% block nav_songs %}class="active"{% endblock%}

{% block head %}

<script src="/static/js/lib/underscore.js"></script>
<script src="/static/js/lib/backbone.js"></script>
<script src="/static/js/songs/app.js"></script>
<script src="/static/js/songs/setup.js"></script>
<script src="/static/js/songs/models.js"></script>
<script src="/static/js/songs/collections.js"></script>
<script src="/static/js/songs/views.js"></script>
<script src="/static/js/songs/router.js"></script>



{% endblock head %}


{% block content %}

 <script type="text/template" id="tpl-song-list">
        <div class="span12">
            

        <%= artist %> 

       
        </div>


    </script>


<div id="content"></div>



{% endblock content %}

